.search{
    align-items: center;
    margin-left: 40%;
    background-color: #F9F9F94D;
    border-radius: 10px;
    
}

.search_input{

    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: transparent;
    width: 100%;
}