.card{
    /* position: relative; */
    /* background-color: black; */
    margin: 500px;
    width: 320px;
    height: 400px;
    margin: 20px;
}

.image_container{
    /* position: absolute; */
    width: 320px;
    height: 400px;

    
}

.image_container>img{
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius:6%;


}

.image_container h3{
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    
    
}